* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #CCCCCC;
}

body {
    font-family: 'Times New Roman', serif;
    background: #CCCCCC;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.about-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.about-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 200px;
    background: #CCCCCC;
    z-index: 10;
}

.about-full-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
    display: block;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 285px;
    height: 285px;
    z-index: 10;
}

.title {
    position: absolute;
    top: 153px;
    left: 479px;
    width: 482px;
    font-family: 'Times New Roman', serif;
    font-weight: normal;
    font-size: 96px;
    color: black;
}

.content {
    position: absolute;
    top: calc(50% - 205px);
    left: calc(50% - 444px);
    width: 888px;
    font-family: 'Times New Roman', serif;
    font-weight: normal;
    font-size: 24px;
    color: black;
    text-align: justify;
    line-height: normal;
}

/* Background decorative images */
.bg-img {
    position: absolute;
    opacity: 0.3;
    z-index: 1;
}

.bg-top-left {
    top: 50px;
    left: 20px;
    width: 180px;
    height: 180px;
}

.bg-top-center {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
}

.bg-top-right {
    top: 30px;
    right: 20px;
    width: 250px;
    height: 250px;
}

.bg-bottom-left {
    bottom: 30px;
    left: 30px;
    width: 280px;
    height: 280px;
}

.bg-bottom-center {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
}

.bg-bottom-right {
    bottom: 40px;
    right: 30px;
    width: 220px;
    height: 220px;
}

.prawns {
    position: absolute;
    top: 733px;
    left: 1198px;
    width: 242px;
    height: 291px;
}

.mutton {
    position: absolute;
    top: 0;
    left: 1152px;
    width: 288px;
    height: 606px;
}

.biryani {
    position: absolute;
    top: 721px;
    left: 0;
    width: 479px;
    height: 303px;
}

.butter-chicken {
    position: absolute;
    top: 300px;
    left: 0;
    width: 199px;
    height: 282px;
}

.kebab {
    position: absolute;
    top: 806px;
    left: 612px;
    width: 392px;
    height: 218px;
}

.dhal {
    position: absolute;
    top: 0;
    left: 609px;
    width: 395px;
    height: 185px;
}
